
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // FORCE_DEPLOY_GROUPS_UPDATE_102

    match /posts/{postId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && resource.data.authorId == request.auth.uid;

      match /likes/{userId} {
        allow read: if true;
        allow write: if isOwner(userId);
      }

      match /comments/{commentId} {
        allow read: if true;
        allow create: if isSignedIn();
      }
    }

    match /users/{userId} {
      allow read: if true;
      allow write: if isOwner(userId);
      
      match /notifications/{notifId} {
        allow read, write: if isOwner(userId);
      }
      
      match /bookmarks/{postId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /groups/{groupId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      
      match /messages/{messageId} {
        allow read: if true;
        allow create: if isSignedIn();
      }
    }
  }
}
