
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if true;
      allow create, update: if isOwner(userId);
      
      match /notifications/{notifId} {
        allow read, write: if isOwner(userId);
      }
      
      match /bookmarks/{postId} {
        allow read, write: if isOwner(userId);
      }

      match /following/{followedId} {
        allow read: if true;
        allow write: if isOwner(userId);
      }

      match /followers/{followerId} {
        allow read: if true;
        allow create: if isOwner(followerId);
        allow delete: if isOwner(followerId) || isOwner(userId);
      }
    }

    match /posts/{postId} {
      allow read, list: if true;
      allow create: if isSignedIn() && request.resource.data.authorId == request.auth.uid;
      allow update, delete: if isSignedIn() && resource.data.authorId == request.auth.uid;

      match /likes/{likingUserId} {
        allow read: if true;
        allow write: if isOwner(likingUserId);
      }

      match /comments/{commentId} {
        allow read: if true;
        allow create: if isSignedIn();
        allow delete: if isSignedIn() && (resource.data.authorId == request.auth.uid || get(/databases/$(database)/documents/posts/$(postId)).data.authorId == request.auth.uid);
      }
    }
  }
}
